@model IEnumerable<LHL_Lesson06_Entity_FrameWork.Models.LHLCategory>

@{
    ViewBag.Title = "LhlIndex";
}

<h2>LhlIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LhlCategoryName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LhlCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LhlId }) |
            @Html.ActionLink("Details", "Details", new { id=item.LhlId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LhlId })
        </td>
    </tr>
}

</table>
