@model List<BaiLab_ThucHanh_LHL.Models.LHLProduct>

@{
    ViewBag.Title = "Search";
}

<h2>Search Products</h2>

@using (Html.BeginForm("Search", "LHLProduct", FormMethod.Get))
{
    <p>
        @Html.TextBox("keyword")
        <input type="submit" value="Search" />
    </p>
}

@if (Model != null && Model.Any())
{
    <table class="table">
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Unit</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.Unit</td>
                <td>@product.Price</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No products found.</p>
}
