
@{
    ViewBag.Title = "Thông Tin Khách Hàng";
}

<h2>Thông Tin Khách Hàng</h2>

<div class="alert alert-danger">
    <p>Mã Số : @ViewBag.customer.CustomerID</p>
    <p>Họ và tên : @ViewBag.customer.FirstName  @ViewBag.customer.LastName</p>
    <p>Địa Chỉ : @ViewBag.customer.Address</p>
    <p>Năm Sinh : @ViewBag.customer.YearOfBirth</p>
</div>
